 h2 {
        font-weight: bold;
        font-style: italic;
        color: #003366;
        margin-top: 30px;
    }
    h3 {
        font-style: italic;
        color: #005580;
        margin-bottom: 5px;
    }
    p, ul {
        font-size: 16px;
        line-height: 1.6;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        background-color: #ffffff;
    }
    th, td {
        border: 1px solid #0077b6;
        padding: 10px;
        text-align: center;
    }
    th {
        background-color: #00b4d8;
        color: white;
        font-weight: bold;
    }